.overlay
  .overlay__img.bg-landing.bg-animation
  .overlay__bg.blue
  .overlay__content
    .landing__overlay.text-center
      %h2.text-white.toBottom
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      %p.text-white.toTop
        minim veniam, quis nostrud exercitation ullamco
      %p.text-white.toTop
        minim veniam, quis nostrud exercitation
      %p.text-white.toTop
        minim veniam, quis nostrud
      %button.btn.btn__large.btn--green.toRight
        GO!
  .landing__arrow.flex.flex-absCenter.toTop#btnArrow
    %i.fa.fa-chevron-down
%section.landing__section.landing__intro.flex.flex-absCenter#introSection
  %h3.text-center
    WE BELIEVE TO CREATE THE IMPOSSIBLE
  %p.text-center
    Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
%section.landing__section.landing__features.flex
  .feature
    .feature__icon.text-green
      %i.fa.fa-users
    .feature__content
      %h4
        PROYECTOS REALES
      %p
        Lorem ipsum dolor sit amet, consectetur.
        %br
        adipiscing elit "Lorem ipsum dolor sit
        %br
        Lorem ipsum dolor sit amet, conse
  .feature
    .feature__icon.text-blue
      %i.fa.fa-laptop
    .feature__content
      %h4
        PROYECTOS REALES
      %p
        Lorem ipsum dolor sit amet, consectetur.
        %br
        adipiscing elit "Lorem ipsum dolor sit
        %br
        Lorem ipsum dolor sit amet, conse
  .feature
    .feature__icon.text-red
      %i.fa.fa-mobile
    .feature__content
      %h4
        PROYECTOS REALES
      %p
        Lorem ipsum dolor sit amet, consectetur.
        %br
        adipiscing elit "Lorem ipsum dolor sit
        %br
        Lorem ipsum dolor sit amet, conse
%section.landing__section.landing__steps
  .landing__steps__title
    %h4
      ¿CÓMO FUNCIONA?
    %p
      Lorem ipsum dolor sit amet Lorem ipsum Lorem Lorem ipsum dolor sit amet Lorem ipsum Lorem. Lorem ipsum dolor sit amet Lorem ipsum Lorem Lorem ipsum dolor sit amet Lorem ipsum Lorem.
  .landing__steps__bg
    = image_tag 'landing/steps.jpg'
  .landing__steps__info
    .step
      .step__title
        %h3
          %i.fa.fa-user-o
          LOREM IPSUM DOLOR SIT AMET AMET
      .step__content
        Lorem ipsum dolor sit amet Lorem ipsum Lorem consectetur adipiscing elit, sed elit, sed
        %br
        consectetur adipiscing elit, sed elit, sed consectetur adipiscing elit, sed elit, sed
        %br
        consectetur adipiscing elit, sed elit consectetur adipiscing elit, sed elit, sed
    .step
      .step__title
        %h3
          %i.fa.fa-handshake-o
          LOREM IPSUM DOLOR SIT AMET AMET
      .step__content
        Lorem ipsum dolor sit amet Lorem ipsum Lorem consectetur adipiscing elit, sed elit, sed
        %br
        consectetur adipiscing elit, sed elit, sed consectetur adipiscing elit, sed elit, sed
        %br
        consectetur adipiscing elit, sed elit consectetur adipiscing elit, sed elit, sed
    .step
      .step__title
        %h3
          %i.fa.fa-rocket
          LOREM IPSUM DOLOR SIT AMET AMET
      .step__content
        Lorem ipsum dolor sit amet Lorem ipsum Lorem consectetur adipiscing elit, sed elit, sed
        %br
        consectetur adipiscing elit, sed elit, sed consectetur adipiscing elit, sed elit, sed
        %br
        consectetur adipiscing elit, sed elit consectetur adipiscing elit, sed elit, sed
    .landing__steps__actions
      %button.btn.btn__normal.btn--blue--inverted
        Consectetur adipiscing
%section.landing__section.landing__team
  .landing__team__title
    %h5
      CONOCE A NUESTRO EQUIPO
    %h3
      LOREM IPSUM LOREM IPSUM
    %p
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound.
  .landing__team__container
    .member
      .member__info
        %a{href: '#'}
          %i.fa.fa-facebook
        %a{href: '#'}
          %i.fa.fa-github
        %a{href: '#'}
          %i.fa.fa-twitter
      .member__img
        = image_tag 'landing/member.png'
      .member__content
        %h4
          NICOLAS OTAMENDI
          %br
          %span
            Developer
    .member
      .member__info
        %a{href: '#'}
          %i.fa.fa-facebook
        %a{href: '#'}
          %i.fa.fa-github
        %a{href: '#'}
          %i.fa.fa-twitter
      .member__img
        = image_tag 'landing/member.png'
      .member__content
        %h4
          NICOLAS OTAMENDI
          %br
          %span
            Developer
    .member
      .member__info
        %a{href: '#'}
          %i.fa.fa-facebook
        %a{href: '#'}
          %i.fa.fa-github
        %a{href: '#'}
          %i.fa.fa-twitter
      .member__img
        = image_tag 'landing/member.png'
      .member__content
        %h4
          NICOLAS OTAMENDI
          %br
          %span
            Developer
    .member
      .member__info
        %a{href: '#'}
          %i.fa.fa-facebook
        %a{href: '#'}
          %i.fa.fa-github
        %a{href: '#'}
          %i.fa.fa-twitter
      .member__img
        = image_tag 'landing/member.png'
      .member__content
        %h4
          NICOLAS OTAMENDI
          %br
          %span
            Developer
    .member
      .member__info
        %a{href: '#'}
          %i.fa.fa-facebook
        %a{href: '#'}
          %i.fa.fa-github
        %a{href: '#'}
          %i.fa.fa-twitter
      .member__img
        = image_tag 'landing/member.png'
      .member__content
        %h4
          NICOLAS OTAMENDI
          %br
          %span
            Developer
    .member
      .member__info
        %a{href: '#'}
          %i.fa.fa-facebook
        %a{href: '#'}
          %i.fa.fa-github
        %a{href: '#'}
          %i.fa.fa-twitter
      .member__img
        = image_tag 'landing/member.png'
      .member__content
        %h4
          NICOLAS OTAMENDI
          %br
          %span
            Developer

